input:focus, /* For modern browsers */
        input:active { /* For older browsers */
            outline: none;
            border-left: none;
        }
.window{
    background: #f6f8fc;
}
header{
        background-color: white !important;
        height: 65px !important;
        border-bottom: none !important;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }
#logo-image {
        position: absolute;
        left: 10px; /* Adjust the left position as needed */
        top: 10px; /* Adjust the top position as needed */
    }
#search-bar{
    margin-right: 20px;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 300px;
    height: 40px;
    background-color:#f1f3f4;
    z-index: 2;

}
#search-logo{
    border-right: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px;
    height: 40px;
    width: 40px;
    background-color: #f1f3f4;
    z-index: 2;

}
.search{
    /* background-color: gainsboro; */
    border: 1px solid black;
    z-index: 2;
}
a{
    color: black !important;
}
.bar{
    color: #ccc !important;
    padding-left: 18px;
    padding-right: 18px;
}
.label{
    text-decoration: none;
    margin-left: 12px;
    margin-right: 12px;
}
.label:hover{
    color: #ff9900;
}
.title-bar-div{
    background-color: white !important;
    font-size: 14px;
    border-bottom: 0.5px solid #ccc;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 65px;
    left: 0;
    right: 0;
    padding: 10px;
    z-index: 2;
}
.top-bar{
    background-color: #f6f8fc;
    margin-top: 116px;
    width: auto;
    height: auto;
    font-size: 20px;
    padding-left: 10%;
    padding-right: 10%;
    color: #2d2d2d;
    padding-top: 20px;
    padding-bottom: 15px;
}
#weather-icon{
    width: 50px;
    height: 50px;

}
.top-bar{
    display: flex;
    justify-content: space-between;
}
.left-top-bar{
    color: rgba(0, 0, 0, 0.8);
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.right-top-bar{
    width: auto;
    background-color: white;
    border-radius: 20px;
    display: flex;
    padding: 10px;
    padding-right: 20px;
    align-items: center;
    justify-content: center;
    line-height: 1px;
    font-size: 14px;
}
#weather-link{
    text-decoration: none;
    color: blue !important;
}
#arrow-icon{
    margin: 10px;
    width: 20px;
    height: 20px;
}
.sub-right-top-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px ;

}
.news-main{
    background-color: #f6f8fc;
    display: grid;
    padding: 10px;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "a b "
    "a c "; 
    padding-left: 10%;
    padding-right: 10%;
    gap: 10px 10px;
}
.grid1 {
    background-color: white;
    border-radius: 15px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    grid-area: a;
    display: grid;
    text-align: left;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 0.80fr 0.5fr 0.5fr 0.9fr 0.7fr 0.7fr ;
    gap: 0px 0px;
    grid-template-areas:
        "aa aa"
        "bb bb"
        "cc dd"
        "cc ee"
        "cc ff"
        "gg gg"
        "hh hh";
}

.sub-grid1 {
    grid-area: aa; 
    padding-bottom: 10px;
}

.sub-grid2{
    grid-area: bb;
    
}
.sub-grid4,.sub-grid5, .sub-grid6{
    margin-bottom: 0;
}
a{
    text-decoration: none !important;
}
p{
    text-decoration: none !important;
    text-align: left !important; 
}
.small-news{
    font-size: 120%;
    margin-top: 0px;
    margin-bottom: 5px;
    word-spacing: -1px; 
}
.medium-news{
    width: 80%;
    margin-top: 15px;
    font-size: 140%;
    word-spacing: -1px; 
    font-weight: 490;
    line-height: 1.35;
    overflow-wrap: break-word;
    padding-right: 1px;
    align-items: center;
}
.big-news{
    font-size: 130%;
    font-weight: 500;
    line-height: 1.4;
    overflow-wrap: break-word;
    padding-right: 1px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.sub-grid3{
    grid-area: cc; 
}
.sub-grid1, .sub-grid2, .sub-grid3, .sub-grid4, .sub-grid5, .sub-grid6, .sub-grid7, .sub-grid8{
    margin: 10px;
}
.sub-grid4{
    grid-area: dd;
    
}
.sub-grid5{
    grid-area: ee;
}
.sub-grid6{
    grid-area: ff;
}
.sub-grid7{
    grid-area: gg;
}
.sub-grid8{
    grid-area: hh;
}
.sub-grid1, .sub-grid2, .sub-grid3,.sub-grid6, .sub-grid7{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.sub-grid4, .sub-grid5{
    margin-bottom: 0;
}
.sub-grid2, .sub-grid7, .sub-grid8 {
    display: flex; /* Use flexbox */
    flex-direction: column;
    align-items: left; /* Vertically center the content */
}
.sub-grid2 a, .sub-grid7 a, .sub-grid8 a{
    height: 160px;

}
.text-content {
    text-align: left;
    flex-grow: 1; /* Allow the text content to grow and fill the available space */
}
.news-from{
    font-size: 95%;
    margin-top: 0;
    margin-bottom: 10px !important;
}
.sub-grid-A .news-time, .sub-grid-B .news-time, .sub-grid-C .news-time, .sub-grid-D .news-time, .sub-grid-E .news-time, .sub-grid-F .news-time{
    margin-bottom: 15px;
}
.news-time{
    margin-bottom: 0;
    font-size: 80%;
}
.news-image {
    width: 100px; /* Ensure the image doesn't exceed its container */
    height: 100px; /* Maintain aspect ratio */
    border-radius: 15px;
    object-fit: cover;
    float: right;
    position: relative;
    top: -120px;
    left: 0px;
}
/* .news-image{
    height: 100px;
    width: 100px;
    border-radius: 15px;
    object-fit: cover;
    float: right;
    width: 15%;
} */

.grid2{
    height: 300px;
    background-color: white;
    grid-area: b;
    display: grid; 
    text-align: center;
    border-radius: 15px;
    padding: 30px;
    grid-auto-columns: 1fr; 
    grid-template-rows: 0.25fr 1fr 1fr 1fr;
    gap: 0px 0px; 

}
.S1 { 
    grid-area: 1 / 1 / 2 / 2; 
}
.S2 {
     grid-area: 2 / 1 / 3 / 2;
}
.S3 {
     grid-area: 3 / 1 / 4 / 2;
}
.S4 {
grid-area: 4 / 1 / 5 / 2; 
}
.sub-grid-S2, .sub-grid-S3, .sub-grid-S4{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.sub-grid-S2, .sub-grid-S3{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.sub-grid-S2 p, .sub-grid-S3 p, .sub-grid-S4 p {
    text-align: center;
    flex: 1;
}
.stock-name:hover {
    text-decoration: underline;
}
.stock-change, .stock-change-percentage{
    color: #008561;
}


.grid3{
    height: 800px;
    background-color: white;
    grid-area: c;
    display: grid; 
    text-align: center;
    border-radius: 15px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    grid-auto-columns: 1fr; 
    grid-template-rows: repeat(5, auto); 
    gap: 0px 0px; 
}
.A { 
    grid-area: 1 / 1 / 2 / 2; 
}
.B {
     grid-area: 2 / 1 / 3 / 2;
}
.C {
     grid-area: 3 / 1 / 4 / 2;
}
.D {
grid-area: 5 / 1 / 6 / 2; 
}
.news-main-2{
    background-color: #f6f8fc;
    display: grid;
    padding: 10px;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "a2 b2 "
    "a2 b2 "; 
    padding-left: 10%;
    padding-right: 10%;
    gap: 10px 10px;
}
.grid-2-a {
    background-color: white;
    border-radius: 15px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    grid-area: a;
    display: grid;
    text-align: left;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 0.80fr 0.5fr 0.5fr 0.9fr 0.7fr 0.7fr ;
    gap: 0px 0px;
    grid-template-areas:
        "aa aa"
        "bb bb"
        "cc dd"
        "cc ee"
        "cc ff"
        "gg gg"
        "hh hh";
}
.grid-2-a{
background-color: white;
border-radius: 15px;
padding-top: 30px;
padding-left: 30px;
padding-right: 30px;
grid-area: a2;
}
.grid-2-b{
    height: 1200px;
    background-color: white;
    display: grid; 
    text-align: center;
    border-radius: 15px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    grid-auto-columns: 1fr; 
    grid-template-rows: repeat(7, auto); 
    gap: 0px 0px; 
}
.sub-grid-A, .sub-grid-B, .sub-grid-C, .sub-grid-D, .sub-grid-E, .sub-grid-F{
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    margin-bottom: 10px;
}
.ms-3:hover {
    fill: #ff9900;
}
